footer {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    width: 100%;

    padding: 10px;

    box-shadow: inset 0px 1px 0.5rem rgba(0, 0, 0, 0.785);

    justify-content: center;
    align-items: center;
}

a {
    color: var(--text-accent-color);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}


.sito-sign {
    margin-bottom: 7px;
}

.author {
    text-decoration: none;
    color: var(--text-accent-color);
}

.copy-right-advise {
    margin: 5px;

    text-align: center;
}

.legacy {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
}

.legacy-item {
    margin: 10px !important;
}

.atributions {
    display: flex;
    flex-direction: column;
    width: 100%;

    justify-content: center;
    align-items: center;
}

@media (min-width: 500px) {
    .copy-right-advise {
        max-width: 60%;
    }
}