.info-section {
    display: flex;
    flex-direction: column;

    margin: 4rem 0;

    justify-content: center;
    align-items: center;
}

.info-title {
    color: var(--text-primary-color);
    font-size: 2rem;
    text-align: center;
}
.info-title + hr {
    width: 100%;
    color: var(--secondary-color);
}


.info-title-cookies {
    color: var(--text-accent-color);
    font-size: 1.67rem;
    text-align: center;
}
.info-title-cookies + hr {
    width: 90%;
    color: var(--accent-color-2);
}


.info-text {
    width: 95%;
    font-size: 1.2rem;
    text-align: center;
}

.info-text-cookies {
    width: 80%;
    text-align: center;
    font-size: 1.2rem;
}

.info-text strong {
    color: var(--text-accent-color);
    padding-top: 1px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: var(--secondary-color);
    border-radius: 7px;
}

@media (min-width: 1000px) {
    #Uso {
        width: 70%;
    }
    #Seguridad {
        width: 70%;
    }
}

@media (min-width: 1350px) {
    #Uso {
        width: 50%;
    }
    #Seguridad {
        width: 50%;
    }

}