.container-res form {
    display: flex;
    width: 100%;

    gap: 40px;

    align-items: center;
    justify-content: center;
}

.format-options {
    display: flex;
    flex-direction: column;

    gap: 15px;

    justify-content: center;
    align-items: left;
}

.format-radio:checked {
    &+.format-lbl {
        color: var(--text-accent-color);
    }
}

.format-lbl {
    font-size: large;

}

/* -------------------------------------------- */

.form-body {
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    align-items: center;
}

.res-selection {
    width: 100%;
    padding: 7px 15px;

    background: var(--accent-color-2);
    backdrop-filter: blur(2rem);
    -webkit-backdrop-filter: blur(2rem);

    border: 0;
    border-radius: 10px;
    outline: 0;

    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;

    cursor: pointer;
    transition: all 0.17s ease;
    appearance: none;
}

.res-selection:hover {
    background: var(--accent-color);
}

.btn2 {
    margin-top: 2rem;
    padding: 10px;
    padding-inline: 10px;

    background-color: var(--accent-color);
    border: none;
    border-radius: 15px;

    color: var(--text-color);
    font-size: 1.5rem;
    text-align: center;
}

@media (max-width: 700px) {
    .format-tabs {
        width: 100%;
    }
}