:root {
    --radious: 21.33px;
}

.bg-gradient1 {
    color: black;
    background: radial-gradient(#00b9de, #cf5aec, #567eff);
    background-size: 250% 250%;

    -webkit-animation: bg_card_animation 20s ease-in-out infinite;
    -moz-animation: bg_card_animation 20s ease-in-out infinite;
    -o-animation: bg_card_animation 20s ease-in-out infinite;
    animation: bg_card_animation 20s ease-in-out infinite;
    border-radius: var(--radious);
}

.bg-gradient2 {
    background: linear-gradient(#00b9de, #cf5aec, #567eff);
    background-size: 250% 250%;

    -webkit-animation: bg_card_animation_2 20s ease-in-out infinite;
    -moz-animation: bg_card_animation_2 20s ease-in-out infinite;
    -o-animation: bg_card_animation 20s ease-in-out infinite;
    animation: bg_card_animation_2 20s ease-in-out infinite;
    border-radius: var(--radious);
}

.bg-gradient3 {
    background: linear-gradient(#00b9de, #cf5aec, #567eff);
    background-size: 250% 250%;

    -webkit-animation: bg_card_animation 20s ease-in-out infinite;
    -moz-animation: bg_card_animation 20s ease-in-out infinite;
    -o-animation: bg_card_animation 20s ease-in-out infinite;
    animation: bg_card_animation 20s ease-in-out infinite;
    border-radius: var(--radious);
}

.bg-gradient4 {
    background: radial-gradient(#00b9de, #cf5aec, #567eff);
    background-size: 250% 250%;

    -webkit-animation: bg_card_animation_2 20s ease-in-out infinite;
    -moz-animation: bg_card_animation_2 20s ease-in-out infinite;
    -o-animation: bg_card_animation_2 20s ease-in-out infinite;
    animation: bg_card_animation_2 20s ease-in-out infinite;
    border-radius: var(--radious);
}

@-webkit-keyframes bg_card_animation {
    0%{background-position:0% 0%}
    25%{background-position:100% 0%}
    50%{background-position: 100% 100%}
    75%{background-position: 0% 100%;}
}
@-moz-keyframes bg_card_animation {
    0%{background-position:0% 0%}
    25%{background-position:100% 0%}
    50%{background-position: 100% 100%}
    75%{background-position: 0% 100%;}
}
@-o-keyframes bg_card_animation {
    0%{background-position:0% 0%}
    25%{background-position:100% 0%}
    50%{background-position: 100% 100%}
    75%{background-position: 0% 100%;}
}
@keyframes bg_card_animation {
    0%{background-position:0% 0%}
    25%{background-position:100% 0%}
    50%{background-position: 100% 100%}
    75%{background-position: 0% 100%;}
}


@-webkit-keyframes bg_card_animation_2 {
    0%{background-position:100% 100%}
    25%{background-position:0% 100%}
    50%{background-position: 0% 0%}
    75%{background-position: 100% 0%;}
}
@-moz-keyframes bg_card_animation_2 {
    0%{background-position:100% 100%}
    25%{background-position:0% 100%}
    50%{background-position: 0% 0%}
    75%{background-position: 100% 0%;}
}
@-o-keyframes bg_card_animation_2 {
    0%{background-position:100% 100%}
    25%{background-position:0% 100%}
    50%{background-position: 0% 0%}
    75%{background-position: 100% 0%;}
}
@keyframes bg_card_animation_2 {
    0%{background-position:100% 100%}
    25%{background-position:0% 100%}
    50%{background-position: 0% 0%}
    75%{background-position: 100% 0%;}
    100%{background-position: 100% 100%;}
}