<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="”theme-color”" content="”dark”" />
  <meta name="">


  <link rel="stylesheet" href={{ url_for('static', filename='css/main.css' ) }}>
  <link rel="stylesheet" href={{ url_for('static', filename='css/video.css' ) }}>
  <link rel="stylesheet" href={{ url_for('static', filename='css/video.info.css' ) }}>
  <link rel="stylesheet" href={{ url_for('static', filename='css/header.css' ) }}>
  <link rel="stylesheet" href={{ url_for('static', filename='css/info.css' ) }}>
  <link rel="stylesheet" href={{ url_for('static', filename='css/footer.css' ) }}>

  <title>Dl YouTube</title>
</head>

<body>
  <main>
    <header>
      <nav>
        <ul class="nav-bar"> 
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Uso">Información de Uso</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Seguridad">Seguridad</a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link" href="https://github.com/SitoSt/Dw_YouTube_1.0">
              <img class="github" src={{ url_for('static', filename='img/github.svg') }} alt="Proyecto de GitHub"/>
              Git project
            </a>
          </li>
        </ul>

      </nav>
    </header>
    
    <section id="video">
      <div class="container-url">
        <form id="form-url">
          <input id="url" class="shadow" name="Url" type="url" ria-describedby="paste" required="true" placeholder="Introduzca la url de un video" />
          <label id="paste" for="url">
            <button type="button" onclick="paste();">
              <img src={{ url_for('static', filename='img/clipboard.svg') }} alt="Pegas del portapapeles"/>
            </button>
          </label>

          <button type="submit" class="btn shadow">Buscar</button>
        </form>
      </div>

      <div class="container-info" id="container-info">

        <img class="thumbnail shadow" id="thumbnail" src="" alt="thumbnail" />
        <div class="container-user-info">

        <h1 id="title" class="shadow"></h1>
        <div class="container-res" id="container-res">
          <form id="form-preferences">
            <div class="format-tabs shadow" role="tablist" aria-label="Format Tabs" name="format_tabs">

              <input id="progressive-tab" name="progressive_tab" type="radio" 
                aria-labelledby="progressive-lbl" hidden checked/>
              <label id="progressive-lbl" class="format-tab"
                role="tab" aria-selected="true" tabindex="0"
                aria-controls="progressive-select" for="progressive-tab">

                Video y Audio
              </label>
                

              <input type="radio" id="audio-tab" name="audio_tab"
                aria-labelledby="audio-lbl" hidden/>
              <label id="audio-lbl" class="format-tab" 
                role="tab" aria-selected="false" tabindex="0"
                aria-controls="audio-select" for="audio-tab">
      
                Solo Audio
              </label>
              

              <input type="radio" id="video-tab" name="video_tab" 
                aria-labelledby="video-lbl" hidden/>
              <label id="video-lbl" class="format-tab" 
                role="tab" aria-selected="false" tabindex="0"
                aria-controls="video-select" for="video-tab">
                
                Solo Video
              </label>


              <span class="glider"></span>
            </div>

            <div class="res-select" id="progressive-select"
              role="tabpanel" tabindex="0" aria-labelledby="progressive-tab">

              <select name="progressive_res" class="res-selection shadow">

                <option value="360p" class="res">360p</option>
                <option value="720p" class="res">720p</option>
              </select>
              <i></i>
            </div>

            <div class="res-select" id="audio-select" 
              role="tabpanel" tabindex="0" aria-labelledby="audio-tab" hidden>

              <select name="audio_res" class="res-selection shadow">
              </select>
              <i></i>
            </div>

            <div class="res-select" id="video-select" 
              role="tabpanel" tabindex="0" aria-labelledby="video-tab" hidden>

              <select name="video_res" class="res-selection shadow">
              </select>
              <i></i>
            </div>

            <button type="submit" class="btn2 shadow">Descargar</button>
          </form>
        </div>

        <div class="container-dl" id="container-dl" hidden>
          <h2 class="ready">El video se ha descargado con éxito!!!</h2>
          <h3>Si no se te ha descargado, pulsa aquí para
            <a href={{ url_for('static', filename='downloads/') }} id="link-dl" download>
              <strong>volver a descargar</strong>
            </a>
          </h3>
          <p>Si el video se sigue sin descargar o el resultado no es el que esperas,
            por favor recarga la pagina y vuelve a intentarlo 
          </p>
          <p>
            Si el problema persiste ponte en contacto por GitHub para reportar el error
          </p>
        </div>
        </div>
      </div>
    </section>

    <section id="Uso" class="info-section">
      <h1 class="info-title">
        Dl YouTube es una Web para descargar videos de YouTube de forma gratis y sin anuncios.
      </h1>
      <hr>
      <p class="info-text">
        Hay tes tipos de descargas: las de <strong>Video y Audio</strong>(mp4), las de 
        <strong>Audio</strong> y las de <strong>Video</strong>. Si lo que quieres es descargar un video
        mp4 a resoluciones HD como 1080p... siento decepcionarte pero no va a ser posible. Por desgracia,
        YT solo permite descargar videos en formato progressive (video y audio) a 360p o 720p como máximo.
      </p>

      <p class="info-text">
        Por ahora recomiendo, que si alguien quiere descargar un video a mayor resolución,
        que se descargue el audio y el video por separado a la calidad deseada y luego utilize
        alguna herramienta para juntarlos.
      </p>
    </section>

    <section id="Seguridad" class="info-section">
      <h1 class="info-title">Sobre la seguridad</h1>
      <hr>
      <p class="info-text">
        <strong>Dl YouTube</strong> es un proyecto personal para mi portfolio como programador, 
        podréis encontrar todo el código en GitHub, donde en lugar de viruses, seguro que encontráis 
        código de novato, con mucho para mejorar.
      </p>

      <p class="info-text">Si alguien encuentra algún error en el código o en la pagina agradecería que lo reportara en
        GitHub para que podamos solucionarlo
      </p>

      <h2 class="info-title-cookies">Sobre las famosas Cookies</h2>
      <hr>
      <p class="info-text-cookies">
        Como esta pagina no tiene una intención lucrativa, no se hacen uso de cookies de rastreo o
        de seguimiento. Tan solo se usan las Cookies necesarias para el funcionamiento, las cuales,
        ni son muchas, ni son peligrosas (Son cookies del estilo: Pídele al navegador que te de permiso
        para copiar texto del portapapeles...)
      </p>
    </section> 

  </main>

  <footer>
    <h3 class="sito-sign">Web diseñada y producida por <strong><a href="https://github.com/SitoSt" class="author">SITO</a></strong></h3>

    <p class="copy-right-advise">
      Se advierte que los contenidos multimedia descargados por Dl YouTube pueden tener
      derechos de autor. Esta web no se hace responsable del uso ilícito de contenido robado. 
      <strong>
        Si vas a descargar un video con el fin de compartirlo, difundirlo o monetizarlo,
        sera mejor que te informes bien sobre los derechos de autor de este.
      </strong>
      En general, si eres creador de contenido o difundidor y quieres descargar fragmentos de videos para mostrarlos,
      te recomiendo que uses YouTube Premium para no tener problemas
    </p>
  </footer>

  <script src={{ url_for('static', filename='scripts/index.js') }}></script>

</body>
</html>