<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="”theme-color”" content="”dark”" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
          crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

  <link rel="stylesheet" href={{ url_for('static', filename='main.css' ) }}>
  <link rel="stylesheet" href={{ url_for('static', filename='animations.css' ) }}>

  <title>flask</title>
</head>

<body class="text-body">
  <div class="container-fluid text-center g-5">
    <!-- barra de navegación -->
    <nav class="navbar navbar-expand-lg fixed-top p-1 shadow rounded">
      <div class="container-fluid justify-content-center text-center">
        <div class="collapse navbar-collapse col-1" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item me-2">
              <a class="nav-link head-link fs-5" href="#como_funciona">¿Como funciona?</a>
            </li>
            <li>
              <a class="nav-link head-link fs-5" href="#mas">mas</a>
            </li>
          </ul>
        </div>

        <div class="col-7">
          <form id="form-url" class="row align-items-center justify-content-center" action="/select" method="POST">
            <input id="form-url" name="Url" class="col-sm-10 form-control fs-6 m-0 text-white text-start" type="url"
                   aria-describedby="paste" required="true" placeholder="Introduzca la url de un video" />
            <!--
                        <span class="input-group-text align-middle bg-btn-2 border-0" id="paste">
                            <img src="../static/img/clipboard.svg" alt=""/>
                        </span> -->

            <button class="btn col-auto text-white m-0 ms-2">Buscar</button>
          </form>
        </div>

        <a class="nav-link head-link col-2 fs-5 me-4 d-flex justify-content-end align-items-center" href="">
          <img id="github" class="rounded img-ico me-2" src="../static/img/github.svg" alt=""
               style="height: 3.5rem; width: 3.5rem" />
          Git project
        </a>
      </div>
    </nav>
    <!-- fin barra de navegación -->
    {% if title and thumbnail_url and Resolutions and Vibrates or ready and title and thumbnail_url and filename %}

    <section id="video_preferences" class="row justify-content-center align-items-center" style="height: 90vh">
      <div class="col-8 solid-box shadow p-4 ps-1 pe-1" id="main_bx">
        <div class="row align-items-center justify-content-center">
          <img class="col-5 p-0 thumbnail" src="{{ thumbnail_url }}" alt="thumbnail" />

          {% if ready == False %}

          <div class="col-6 ms-4 p-0">
            <p class="text-white fs-5 m-3 row" style="display: inline">
              El video:
              <strong style="color: antiquewhite">{{title}}</strong>
              esta listo para descargarse, elige una resolución
            </p>

            <form class="m-3 row" id="resolution_form" action="/" method="POST">
              <input id="format_tracker" name="format_tracker" type="text" hidden />

              <ul class="nav nav-tabs col-12 align-items-center" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="progressive_tab" data-bs-toggle="tab"
                          data-bs-target="#progressive_res_pane" type="button" role="tab">
                    Video + Audio
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="video_tab" data-bs-toggle="tab" data-bs-target="#video_res_pane"
                          type="button" role="tab">
                    Solo Video
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="audio_tab" data-bs-toggle="tab" data-bs-target="#audio_res_pane"
                          type="button" role="tab">
                    Solo Audio
                  </button>
                </li>

                <select class="form-select form-select-md ms-4 res" name="progressive_res" id="progressive_res" hidden>
                  <option value="360p" class="fs-1">360p</option>
                  <option value="720p">720p</option>
                </select>

                <select class="form-select form-select-md ms-4 res" name="video_res" id="video_res" hidden>
                  {% for res in Resolutions %} {% if Resolutions[res] %}
                  <option value="{{ res }}" class="fs-2">{{ res }}</option>
                  {% endif %} {% endfor %}
                </select>

                <select class="form-select form-select-md ms-4 res" name="audio_res" id="audio_res" hidden>
                  {% for abr in Vibrates %} {% if Vibrates[abr] %}
                  <option value="{{ abr }}"">{{ abr }}</option>
                  {% endif %} {% endfor %}
                </select>
              </ul>

              <button class="btn col-auto m-2 bg-primary text-white">
                Aceptar
              </button>
            </form>
          </div>

          {% else %}

          <div class="col-5 justify-content-center align-items-center dl-msg">
            <button id="close_btn" class="close" hidden onclick="close();">x</button>
            <h2>
              !!! Ya puedes descargar el video {{title}} !!!
            </h2>
            <span>
                <p id="retry_msg" hidden>¿Algo ha ido mal? pulsa aquí:</p>
                <a id="link_descarga"  href="../static/downloads/{{filename}}" download onclick="handleDownload();"> Download </a>
            </span>
           
          </div>

          {% endif %}
        </div>
      </div>
    </section>
    {% endif %}

    <section id="como_funciona" class="row justify-content-center align-items-center" style="height: 90vh">
      <div class="col-4" style="height: 50%">
        <div class="row bg-gradient1 p-3 align-items-center justify-content-center" style="height: 100%">
          <p class="fs-2 m-0">
            Esta web utiliza python para buscar y descargar videos de YouTube
          </p>
        </div>
      </div>

      <div class="col-6 ps-3" style="height: 50%">
        <div class="col-12 bg-gradient2 mb-2 overflow-hidden" style="height: 50%">
          <div class="header p-2 shadow-sm">
            <h2 class="m-0">Seguridad</h2>
          </div>
          <div class="">
            <p class="m-2 fs-2">hola</p>
          </div>
        </div>
        <div class="hstack col-12" style="height: 50%">
          <div class="col-6 p-2 ps-0" style="height: 100%">
            <div class="row bg-gradient3 justify-content-center align-items-center m-0" style="height: 100%">
              <p class="m-0 fs-3">todas las opciones de descarga y mas</p>
            </div>
          </div>
          <div class="col-6 p-2 pe-0" style="height: 100%">
            <div class="row bg-gradient4 justify-content-center align-items-center m-0" style="height: 100%">
              <p class="m-0 fs-3">la mejor estetica y calidad de usuario</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="info_usuario" class="row justify-content-center align-items-center" style="height: 90vh">
      <div class="row justify-content-center align-items-center" style="height: 65%">
        <div class="col-3 me-1" style="height: 60%">
          <div class="row bg-gradient1 m-0 p-2 justify-content-center" style="height: 100%">
            <div class="col-12 p-0 pt-2">
              <h2 class="mb-3">Video + Audio</h2>
              <hr class="m-0" />
            </div>
            <p>
              Lorem, ipsum dolor sit amet consectetur ñfahfkjsdh jkfha fsd
              fdbiu
            </p>
          </div>
        </div>

        <div class="col-3 ms-1 me-1" style="height: 60%">
          <div class="row bg-gradient2 m-0 p-2 justify-content-center" style="height: 100%">
            <div class="col-12 p-0 pt-2">
              <h2 class="mb-3">Video</h2>
              <hr class="m-0" />
            </div>
            <p>
              Lorem, ipsum dolor sit amet consectetur ñfahfkjsdh jkfha fsd
              fdbiu
            </p>
          </div>
        </div>

        <div class="col-3 ms-1" style="height: 60%">
          <div class="row bg-gradient3 m-0 p-2 justify-content-center" style="height: 100%">
            <div class="col-12 p-0 pt-2">
              <h2 class="mb-3">Audio</h2>
              <hr class="m-0" />
            </div>
            <p>
              Lorem, ipsum dolor sit amet consectetur ñfahfkjsdh jkfha fsd
              fdbiu
            </p>
          </div>
        </div>

        <div class="col-7 mt-3" style="height: 35%">
          <div class="row bg-gradient3 m-0 p-2 justify-content-center" style="height: 100%">
            <div class="col-12 p-0 pt-2">
              <h2 class="mb-3">Una forma mas pro</h2>
              <hr class="m-0 mt-1" />
            </div>
            <p>
              Lorem, ipsum dolor sit amet consectetur ñfahfkjsdh jkfha fsd
              fdbiu
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>

  <script src="../static/index.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7154517655176421"
    crossorigin="anonymous"></script>
</body>

</html>