<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{ url_for('static', filename='main.css') }}>
    <title>flask</title>
</head>
<body>
    <center>

        {% if resolutions %}
        <form action="/download" method="POST">
            <label for="lang">Elige resolución</label>
            <select name="Resolución" id="lang">
            {% for res in resolutions %}
                {% if resolutions[res] == True %}
                <option value={{ res }}>{{res}}</option>
                {% endif %}
            {% endfor %}
            </select>
            <button>Descargar</button>
        </form>
        {% else %}   
        <h1>Introduzca la Url:</h1>
        <form action="/select" method="POST">
            <input type="url" name="Url" placeholder="Url">
            <button>Download</button>
        </form>
        {% endif %}
        {% if title %}
            <h1>descargando video: {{ title }}</h1>
        {% endif %}
    </center>
</body>
</html>